<section id="home" class="text-center">
     <section id="intro">
          <div class="container">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <div class="nine">
                    <br>
                    <br>
                    <img src="view/img/bichitos.png" width="150px">
                    <h1>DREAMHOUSE<span>Where dreams come true</span></h1>
               </div>
               <div id="top">
                    <h2>CHOOSE YOUR PET!</h2>
               </div>
               <div class="carousel">
                    <div class="carousel__container">
                         <div id="pet_house"></div>
                         </button>
                         <div class="carousel__list" style="text-align: center;"></div>
                         </button>
                    </div>
               </div>

               <div class="carousel">
                    <h3><strong>TYPES</strong></h3>
                    <div class="carousel__container">
                         <div id="type_house"></div>
                         </button>
                         <div class="carousel__list" style="text-align: center;"></div>
                         </button>
                    </div>
               </div>

               <div class="cards-list">
                    <div id="top">
                         <h2>OPERATIONS</h2>
                    </div>
                    <div id="operation_house"></div>
               </div>

               <!-- <div class="cards-list">
                <div id="top">
                    <h2>CATEGORIES</h2>
                </div>
                <div id="category_house"></div>
            </div> -->

               <div id="top">
                    <h2>CATEGORIES</h2>
               </div>
               <div class="carousel">
                    <div class="carousel__container">
                         <div id="category_house"></div>
                         </button>
                         <div class="carousel__list" style="text-align: center;"></div>
                         </button>
                    </div>
               </div>

               <!-- <div class="cards-list">
                <div id="top">
                    <h2>CITIES</h2>
                </div>
                <div id="city_house"></div>
            </div> -->

               <div id="top">
                    <h2>CITIES</h2>
               </div>
               <div class="carousel">
                    <div class="carousel__container">
                         <div id="city_house"></div>
                         <div class="carousel__list" style="text-align: center;"></div>
                    </div>
               </div>

               <!-- <div class="cards-list">
                <div id="top">
                    <h2>SERVICES</h2>
                </div>
                <div id="service_house"></div>
            </div> -->

               <div id="top">
                    <h2>SERVICES</h2>
               </div>
               <div class="carousel">
                    <div class="carousel__container">
                         <div id="service_house"></div>
                         </button>
                         <div class="carousel__list" style="text-align: center;"></div>
                         </button>
                    </div>
               </div>

               <!-- Comentado a falta de revisar y arreglar el "visited_houses" -->
               <!-- <div id="top">
                    <h2>VISITED HOUSES</h2>
               </div>
               <div class="carousel visited-houses-carousel">
                    <div id="visited_houses"></div>
               </div> -->
          </div>
     </section>
</section>