<br><br><br><br><br><br><br><br><br><br>
<form id="login_form" method="POST" style="background-color: #e4dac4;">
     <legend style="text-align: center;">
          <h1>LOG IN</h1>
     </legend>
     <div class="sign-in-htm"
          style="max-width: 400px; margin: 0 auto; padding: 20px; background: #f7f7f7; border-radius: 8px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
          <div class="group">
               <label for="user" class="label">Username</label>
               <input id="username_log" type="text" class="input" name="username_log" autocomplete="off">
               <span id="error_username_log" class="error"></span>
          </div>
          <div class="group">
               <label for="pass" class="label">Password</label>
               <input id="passwd_log" type="password" class="input" name="passwd_log" autocomplete="off">
               <span id="error_passwd_log" class="error"></span>
          </div>
          <div class="group" style="text-align: center;">
               <input type="submit" id="login" class="button" value="Log In">
          </div>
          <div class="text" style="text-align: center;">
               <h3>Social login:</h3>
               <a href="#" id="github_login" style="margin-right: 10px;">
                    <img src="view/img/github_icon.jpg" alt="GitHub" style="width: 55px; height: 32px;">
               </a>
               <a href="#" id="facebook_login" style="margin-right: 10px;">
                    <img src="view/img/facebook_icon.png" alt="Facebook" style="width: 32px; height: 32px;">
               </a>
               <a href="#" id="gmail_login">
                    <img src="view/img/google_icon.png" alt="Gmail" style="width: 32px; height: 32px;">
               </a>
          </div>
          <div class="text" style="text-align: center;">
               <h3>Have you forgotten your password?<br><br>
                    <a id="recover_view" href="#">Recover it here</a>
               </h3>
          </div>
          <div class="hr"></div>
          <div class="text">
               <h3>Don't have an account?<br><br>
                    <a id="register_view">Register now</a>
               </h3>
          </div>
     </div>
</form>

<form id="register_form" method="post" class="form-register" style="display:none;">
     <legend style="text-align: center;">
          <h1>REGISTER</h1>
     </legend>
     <div class="sign-up-htm">
          <div class="group">
               <label for="user" class="label">Username</label>
               <input id="username_reg" type="text" class="input" name="username_reg" autocomplete="off">
               <span id="error_username_reg" class="error"></span>
          </div>
          <div class="group">
               <label for="pass" class="label">Password</label>
               <input id="passwd1_reg" type="password" class="input" name="passwd1_reg" autocomplete="off">
               <span id="error_passwd1_reg" class="error"></span>
          </div>
          <div class="group">
               <label for="pass" class="label">Repeat Password</label>
               <input id="passwd2_reg" type="password" class="input" name="passwd2_reg" autocomplete="off">
               <span id="error_passwd2_reg" class="error"></span>
          </div>
          <div class="group">
               <label for="pass" class="label">Email Address</label>
               <input id="email_reg" type="email" class="input" name="email_reg" autocomplete="off">
               <span id="error_email_reg" class="error"></span>
          </div>
          <div class="group" style="text-align: center;">
               <input type="submit" id="register" class="button" value="Register">
          </div>
          <div class="hr"></div>
          <div class="text">
               <h3>Already have an account?<br><br>
                    <a id="login_view" href="#">Login now</a>
               </h3>
          </div>
     </div>
</form>

<form id="recover_form" method="post" class="recover_form" style="display:none;">
     <legend style="text-align: center;">
          <h1>RECOVER PASSWORD</h1>
     </legend>
     <div class="sign-up-htm">
          <div class="group">
               <label for="pass" class="label">Email Address</label>
               <input id="email_recover" type="email" class="input" name="email_recover" autocomplete="off">
               <span id="error_email_recover" class="error"></span>
          </div>
          <div class="group" style="text-align: center;">
               <input type="submit" id="recover" class="button" value="Recover Password">
          </div>
          <div class="hr"></div>
          <div class="text">
               <h3>
                    <a id="login_view" href="login">Return to Login</a>
               </h3>
          </div>
     </div>
</form>
<br><br><br><br><br><br><br><br>