<br><br><br><br><br><br><br><br>

<form id="recover_form" method="post" class="recover_form" style="display:none; background-color: #e4dac4;">
	<legend style="text-align: center;">
		<h1>RECOVER PASSWORD</h1>
	</legend>
	<div class="sign-up-htm"
		style="max-width: 400px; margin: 0 auto; padding: 20px; background: #f7f7f7; border-radius: 8px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
		<div class="group">
			<label for="pass" class="label">Email Address</label>
			<input id="email_recover" type="email" class="input" name="email_recover" autocomplete="off">
			<span id="error_email_recover" class="error"></span>
		</div>
		<div class="group">
			<label for="pass_rec" class="label">Password</label>
			<input id="pass_rec" name="pass_rec" type="password" class="input">
			<span id="error_password_rec" class="error" style="color: red;"></span>
		</div>
		<div class="group">
			<label for="pass_rec_2" class="label">Repeat Password</label>
			<input id="pass_rec_2" name="pass_rec_2" type="password" class="input">
			<span id="error_password_rec_2" class="error" style="color: red;"></span>
		</div>
		<div class="group" style="text-align: center;">
			<input type="submit" class="button" id="button_set_pass" value="Set password">
		</div>
		<div class="hr"></div>
		<div class="text">
			<h3>
				<a id="login_view" href="login">Return to Login</a>
			</h3>
		</div>
	</div>
</form>

<br><br><br><br><br><br><br><br>