<div class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
          <div class="navbar-header">
               <a href="http://localhost/DreamHouse_V5_Framework/home" id="logo_link">
                    <h4 style="color: #fff; font-weight: bold; margin-top: 10px;;" title="Home">
                         <img src="view/img/LOGO.png" width="300px">
                    </h4>
               </a>
          </div>
          <div class="div_search" style="display: inline; width: 10%; height: 10%;">
               <br>
               <select class="search_type">
               </select>
               <select class="search_pet">
               </select>
               <div class="autocomplete-container">
                    <input class="autocomplete" type="text" id="autocom" placeholder="City" />
                    <div id="search_auto"></div>
               </div>
               <input type="button" id="search-btn" class="btna third" style="display: inline; margin-left: 10px; background: 
                    url(' view/img/lupa.jpg') no-repeat; background-size: contain; text-indent: -9999px; width: 40px;
                    height: 40px; border-radius: 10px;" />
          </div>

          <div align="center" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                    <!-- <li><img src="view/img/LOGO1.png" width="90px"></li>
                    <li><a href="index.php?page=home" id="home_link">
                              <h4>HOME</h4>
                         </a></li>
                    <li><a href="index.php?page=shop">
                              <h4>SHOP</h4>
                         </a></li> -->

                    <!-- <li>
                         <span class="register_login_buttons">
                              <a href="index.php?page=login"><button class="log">Login</button></a>
                              <a href="index.php?page=register"><button class="reg">Register</button></a>
                         </span>
                    </li>
                    
                    <li><img src="view/img/LOGO1.png" id="user_avatar" width="90px"></li>
                    <li><a id="loged_username"></a></li>
                    <li>
                         <span class="register_login_buttons">
                              <a id="logout"><button class="log">Logout</button></a>
                         </span>
                    </li>-->

               </ul>
          </div>
     </div>
</div>

<!-- <nav>
     <ul class="nav_list">
          <li class="nav_item"><a href="?module=home&op=view" class="nav_link">Home</a></li>
          <li class="nav_item"><a href="?module=shop&op=view" class="nav_link">Shop</a></li>
     </ul>
</nav> -->