<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="nine">
        <br>
        <img src="view/img/bichitos.png" width="150px">
        <br>
        <h1>DREAMHOUSE<span>Where dreams come true</span></h1>
    </div>
</div>
<!--filters-shop-->
<div class="filters-shop"></div>

<!--filter_order-->
<div class="filter_order"></div>

<!--map-->
<!--container-->

<!-- details-house -->
<div id="details-shop">
    <div class="carousel">
        <div class="carousel__container">
            <div class="date_img" id="house_images"> </div>
            </button>
            <div class="carousel__list" style="text-align: center;"></div>
            </button>
        </div>
        <div class="carousel__indicator"></div>
    </div>
    <div class="date_house" id="house_data"> </div>
</div>

<!-- list-houses -->
<div class="general_shop">
    <div class="container_shop" id="content_shop_houses"> </div>
    <div class="map_container">
        <div id="map"></div>
    </div>
</div>

<div id="pagination" class="pagination-container"></div>

<div class="map_details">
    <div id="map_details"></div>
</div>

<div id="related_houses_container" class="related_houses_container"></div>

<div id="related_houses_button"></div>

<br>
<br>
<br>